*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
  text-decoration: none;
  color:black;

}

.Mockup{
    width: 100%; 
}

.navbar{
    margin: 0.5% 0 0 0;
    display: flex;
    justify-content: end;
}
div>h1::after{
  content: '';
  display: block;
  width:410px;
  height: 2px;
  margin: 2px auto;
  background:black;
}
p~ul{
  background: #ffffff;
  width: 40%;
  border-radius: 10px;
  display:block;
  padding: 2% 0 2% 0;
  margin: 4% auto;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.name{
    font-size: 3em;
    font-family: 'Inter', sans-serif;
}

.apresentacao{
margin-top: 14%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: 'Inter', sans-serif;
}
.minha-profissao{
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}
.menus{
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.Mockup {
position: absolute;
top: 0;
z-index: -5;
}

.text{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
@media (max-width: 1199.98px) { 


    h1{
        font-size: 2em;
        font-family: 'Inter', sans-serif;
    }
    .prof{
      font-size: 2em;
    }
    div>h1::after{
        content: '';
        display: block;
        width:400px;
        height: 2px;
        margin: 2px auto;
        background:black;
      }
      p{
        font-size: 1.5em;
        font-weight: 600;
    }
    p~ul{
        background: #ffffff;
        width: 40%;
        border-radius: 10px;
        display:block;
        padding: 2.9% 0 2.9% 0;
        margin: 4% auto;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        font-size: 0.8em;
      }
      div>h3{

        font-size:1em;
      }
    
}
@media (max-width: 991.98px) { 

    h1{
        font-size: 2em;
        font-family: 'Inter', sans-serif;
    }
    .name{
      font-size: 1.9em;
    }
    .prof{
      font-size: 1.4em;
    }
    div>h1::after{
        content: '';
        display: block;
        width:280px;
        height: 2px;
        margin: 2px auto;
        background:black;
      }
      p{
        font-size: 1.5em;
        font-weight: 600;
    }
    p~ul{
        background: #ffffff;
        width: 40%;
        border-radius: 10px;
        display:block;
        padding: 2.9% 0 2.9% 0;
        margin: 4% auto;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        font-size: 0.8em;
      }
     
        div>h3{
          font-size: 2vw;

        }
       
        
 }
 @media (max-width: 768px) {

   
      .name{
        font-size: 4.4vw;
      }
      .minha-profissao{
        font-size: 4vw;
      }
      .apresentacao{
        margin-top: 60px
      }
    .novoProjeto>h5{
      font-size: 1.7rem;
    }
    main{
      margin: 0px 0px 0px 0px
    }
    .novoProjeto~h4{
      font-size: 1rem;
    }
    .icons>img{
      width: 6vh;
    }
      }
        @media (max-width: 575.98px) { 

          nav{
            display: none;
          }
            
            .name{
              font-size: 1.8em;
            }
            .minha-profissao{
              font-size: 1.3em;
            }
            .Mockup{
              height: 214px;
            }
            .novoProjeto>h5{
              font-size: 0.5em;
            }
            
            div>h1::after{
                content: '';
                display: block;
                width:250px;
                height: 2px;
                margin: 2px auto;
                background:black;
              }
           div~h4{
             font-size: 0.9em;
           }
          
            p~ul{
                background: #ffffff;
                width: 40%;
                border-radius: 10px;
                display:block;
                padding: 3.2% 0 3.2% 0;
                margin: 4% auto;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                font-size: 0.4em;
              }
              .apresentacao{
                margin-top: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: 'Inter', sans-serif;
                }
               
              
        }
  
  main{
    background: linear-gradient(257.1deg,
     rgba(189, 0, 255, 0.4) 6.01%,
     rgba(173, 0, 255, 0.4) 26.41%, 
     rgba(152, 0, 255, 0.4) 40.27%,
      rgba(157, 33, 255, 0.4) 54.13%,
       rgba(143, 0, 255, 0.4) 65.6%,
        rgba(189, 0, 255, 0.4) 86.58%),
         linear-gradient(0deg, rgba(204, 1, 255, 0.2),
          rgba(204, 1, 255, 0.2)),
           rgba(57, 155, 245, 0.33);
          
           margin-top:200px;
           width:100%
  }
.locais-da-pagina{
   text-align: center;
   font-family: 'Inter', sans-serif;
   line-height: 150px;
  }
  .cards{
    width:60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .trabalho{
    background: linear-gradient(73.19deg, rgba(36, 0, 255, 0.2) 3.72%, rgba(157, 0, 231, 0.2) 79.62%, rgba(255, 6, 200, 0.166) 96.28%), linear-gradient(0deg, rgba(255, 207, 250, 0.2), rgba(255, 207, 250, 0.2)), #DC77FF;
    box-shadow: 5px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width:35%;
    padding: 30px 30px 30px 30px;
  }

 


.containerHabilidades {
  display: flex;
  max-width: 100%;
  justify-content: center;
}   
.habilidades{
  background: linear-gradient(73.19deg, rgba(36, 0, 255, 0.2) 3.72%, rgba(157, 0, 231, 0.2) 79.62%, rgba(255, 6, 200, 0.166) 96.28%), linear-gradient(0deg, rgba(255, 207, 250, 0.2), rgba(255, 207, 250, 0.2)), #DC77FF; 
  box-shadow: 5px 3px 9px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 20%;
  margin-left: 3%;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
} 
.html{
  margin-left: 0;
}
.imgDev{
  width: 45%;
}

@media(max-width:576px)
{
 
  .html{
    margin-left: 3%;
  }
  .habilidades{
    margin-top: 2%;
   
  }
  .skills{
    margin-bottom: 5%;
    margin-left: 3%;
    font-size: 0.7em;
 
  }
  .Eu{

    height: 25vw;
  }
  
}
.skills{
  margin-top: 15%;
}

@media(max-width:992px){
  .Eu{

    height: 25vw;
  }
  
}
.aboutme{
  display:flex;
  width: 90%;
  margin:9% auto;
}
.info{
  align-self: center;
  font-size: 2.4vw;
  
}
section>div p{
  font-family:  sans-serif;
  font-size: 0.8em;
  font-weight:500;
  margin-top: 2%;
}
section>div>h2{
  font-family:'Inter', sans-serif;
  font-size: 1.4em;
}

.projetos{
display: block;
margin:0 auto;
text-align: center;
font-family:'Inter', sans-serif;
}
.trabalhos{

  display: flex;
  justify-content: center;

  margin: 5% auto;
}
.divWorks{
  background: linear-gradient(73.19deg, rgba(36, 0, 255, 0.2) 3.72%, rgba(157, 0, 231, 0.2) 79.62%, rgba(255, 6, 200, 0.166) 96.28%), linear-gradient(0deg, rgba(255, 207, 250, 0.2), rgba(255, 207, 250, 0.2)), #DC77FF; 
  width: 25%;
  margin-left: 3%;
  border-radius: 5px;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  box-shadow: 5px 3px 9px rgba(0, 0, 0, 0.25);
  font-family: 'Inter', sans-serif;
}
.secondSection{
  margin-top:-3%;
}
.Acervo{
  margin-left:0;
}
.inicioProjeto{
  max-width: 100%;
  text-align: center;
}
h4{
  color:#ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.3em;
  margin-top: 1%;

}

.novoProjeto{
  font-size: 3em;
  font-family: 'Inter', sans-serif;

}
div~h4~ul{
background: #FFFFFF;
box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: inline-block;
width: 200px;
padding: 10px;
margin-top: 2%;
font-family:'Inter', sans-serif;
}
div~h4~ul>li>p{
font-size: 1em;
}


@media(max-width:425px){
 .info>h2~p{
   font-size: 1.3em;
 }
 .apresentacao{
   text-align: left;
   justify-content: flex-start;
   margin-left: 15px;
 }
 .apresentacao>div>h1~p~ul{
   margin:10px 0px 0px 0px;
  
 }
 main{
   margin:80px 0px 0px 0px;
 }
 .Eu{
   height: 14vh;
 }
 .Mockup{
   height: 200px;
 }
 div>h1::after{
   width: 100%;
 }
 .containerHabilidades{
   flex-direction: column;
  align-items: center;
 }
  .habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50%;
    margin:1%;
  }
  .trabalhos, .secondSection{
    flex-direction: column;
    align-items: center;
   
  }
  
  .habilidades>h3{
    font-size: 0.8em;
  }
  .apresentacao>div>h1{
    font-size:2em;
  }
  .menus{
    font-size: 2em;
    
  }
  ul>.menus{
    font-size:1.7em;
  }


  div~h4~ul>li>p{
    font-size: 1em;
    }
    div~h4~ul{
      width:150px;
      padding: 0.9%;
    }
   .minha-profissao{
     font-size: 1.3rem;
   }
   .novoProjeto{
    font-size: 1.3rem;
   }
   .novoProjeto~h4{
     font-size: 0.9rem;
   }
   .novoProjeto>h5{
     font-size: 1.3rem;
   }
   .divWorks>h3{
     font-size: 0.5em;
   }
   .divWorks{
     height: 30vw;
     width: 55%;
     margin: 1%;
   }
.icons>img{
  width: 5vh;
}
   
}
.icons{
  display:inline-block;
  width: 100%;
  text-align: center;
  margin-top: 4%;
}
.icons::before{
content: '';
width: 89%;
height: 2px;
background-color: black;
margin: 20px auto;
display: block;

}
.redessociais{
  width: 70px;

}



